#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: $gap;
    min-height: 100vh;

    h3.showImage {
        opacity: 0;
    }
    
    .projectCard {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        background-color: white;

     
        .projectCardContent {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 150px;
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;

            &.showImage {
                opacity: 0;
            }
        }

        & > div:last-child {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.2rem;
            
        }
    } 
} 