.sectionBreak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    span {
      height: 3px;
      background-color: black;
      margin-bottom: 8px;
      width: 0;
      border-radius: 20px;
    }

    span:first-child {
      width: 100px;
    }

    span:last-child {
        width: 40px;
    }
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  min-width: 110px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
  
}
  
/* 

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #fff;
  // text-shadow: -1px -1px 1px rgba(195, 190, 190, 0.82);
  // background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#511c1c));
  border-radius: 5px;
  min-width: 110px;

  &:hover {
    cursor: pointer;
  }
*/