#navigation {
    background-color: #f5f5f5dc;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    left: 0;
    right: 0;

    &.hidden {
        display: none;
    }

    & > div:last-child  {
        @media (min-width: $md) {
            display: none;
        }
    }

    @media (max-width: $md) { 
        inset: 0;
        flex-direction: column;
        justify-content: center;
        gap: $gap;
        font-size: 2rem;
        background-color: #f5f5f5f4;
    }

    
}