// Colors
$bg-color-light: #F5F5F5;
$bg-color-dark: #2b2d42;
$text-color-light: #1d1d1d;
$text-color-dark: #f0f3bd;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

$base-font-size: 20px;
$golden-ratio: 1.618;
$gap: 0.8rem;
$radius: 5px;




  