// Colors
$bg-color-light: #F2F3F4;
$bg-color-transparent-light: #f2f3f4b6;
$bg-color-dark: #2b2d42;
$bg-color-cream: #F9F9F3;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

$base-font-size: 20px;
$golden-ratio: 1.618;
$gap: 0.8rem;
$radius: 5px;

// :export {
//     md: $md;
// }

  